<%= render partial: 'remove_modal' %>

<h3>Manual Entry Checklist</h3>
<p>Here is a description of the page. These are the things you are supposed to do.</p>

<% if @measures %>
  <%= bootstrap_nested_form_for([@product, @test], :url => { :controller => 'checklist_tests', :action => 'update' }) do |f| %>
    <% @measures.each do |measure| %>
      <div class = 'panel-group'>
        <div class = 'panel panel-default'>
          <div class = 'panel-heading'>
            <h2>
              <a data-toggle = 'collapse' href = <%= "#collapse_#{measure.id}" %>>
                <%= "#{measure.cms_id} #{measure.name}" %>
              </a>
            </h2>
          </div>
          <div id = <%= "collapse_#{measure.id}" %> class = 'panel-collapse collapse in'>
            <div class = 'panel-body'>
              <table class = 'table table-sm'>
                <thead>
                  <tr>
                    <th class = 'col-sm-2'>Completed?</th>
                    <th class = 'col-sm-10'>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <%= f.fields_for :checked_criteria, @test.checked_criteria.all(measure_id: measure.id) do |criteria_field| %>
                    <% criteria = measure.hqmf_document[:source_data_criteria].select { |key, value| key == criteria_field.object.source_data_criteria }.values.first %>
                    <% if criteria.has_key?('description') %>
                      <tr>
                        <td>
                          <%= criteria_field.check_box :completed %>
                        </td>
                        <td><%= criteria[:description] %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class = 'panel-footer'>
              <%= f.submit 'Save', class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'remove_panel', locals: { name: 'delete checklist', type: 'visual test', delete_path: "/products/#{@product.id}/checklist_tests/#{@test.id}", message: 'Removing this C1 Visual Test will discard your answers to the checklist above for each measure. This will not remove any measures selected.' } %>

<!-- <div class="col-md-4"> -->
  <%# f.form_group :measure_selection, label: { text: "Measures to Test" }, help: "Cypress v3 tests products one measure at a time. Click 'Custom' to specify individual measures." do %>
    <%# f.radio_button :measure_selection, "hospital", label: "All EH Measures", label_class: "btn btn-checkbox active", checked: true, disabled: params[:action] == "edit" %>
    <%# f.radio_button :measure_selection, "provider", label: "All EP Measures", label_class: "btn btn-checkbox", disabled: params[:action] == "edit" %>
    <%# f.radio_button :measure_selection, "custom", label: "Custom...", label_class: "btn btn-checkbox", disabled: params[:action] == "edit" %>
  <% #end %>
<!-- </div> -->